<?php TPL::output('m/header.tpl.htm'); ?>
<!-- 内容 -->
<div class="container padding-0">
    <!-- 个人信息 -->
    <div class="aw-people-income">
        <div class="mod-head clearfix">
            <!--<img src="<?php echo get_avatar_url($this->user['uid'], 'max'); ?>" alt="" class="img" width="50" />-->
            <div class="title clearfix">
                <h1 class="pull-left">
                    <span>日常奖励</span>
                </h1>
            </div>
        </div>
        <div class="mod-body clearfix">
            <ul>
                <li>
                    <?php _e('说明')?>
                </li>
                <li>
                    <?php _e('获得奖励(yoyow)')?>
                </li>
            </ul>
        </div>
    </div>
    <!-- end 个人信息 -->
    <div class="aw-income-box">
        <div class="tab-content">
            <!-- 参与列表 -->
            <div class="tab-pane active" id="income-sum">
                <div class="aw-income-list active">
                    <div class="mod-body">
                        <ul id="income-sum-listview">
                            <?php foreach ($this->log AS $key => $val) { ?>
                            <li>
                                <div class="mod-body list-cotnent">
                                    <a href="m/people_income_integral_detail/id-<?php echo $val['id']?>" style="color: #666;">
                                        <p style="display: inline-block;width: 50%;">
                                            <span><?php echo $val['act_strat_time']; ?>~<?php echo $val['act_end_time']; ?></span>
                                        </p>
                                        <p style="display: inline-block;width: 25%;padding-left: 10px;">
                                            <?php echo $val['coin']; ?>
                                        </p>
                                        <p style="display: inline-block;width: 5%;padding-left: 10px;">
                                            <i class="icon-angle-right" style="width: 32px;font-size: 14px;"></i>
                                        </p>
                                    </a>
                                </div>
                            </li>
                            <?php } ?>
                        </ul>
                    </div>

                    <div class="mod-footer">
                        <a class="aw-load-more" id="load_join" data-page="2" auto-load="false"><i class="icon icon-loading icon-spin"></i> <span><?php _e('更多'); ?></span></a>
                    </div>
                </div>
            </div>
            <!-- end 参与列表 -->
        </div>
    </div>
</div>
<!-- end 内容 -->

<script type="text/javascript">
    $(function(){
        $("#load_join").click(function(){
            var _this = this;
            $(this).addClass('loading');
            var page = $(this).attr("data-page");
            var next_page = parseInt(page) + 1;
            $.ajax({
                type:'POST',
                url: G_BASE_URL + '/m/ajax/ajax_people_income_integral/',
                data:{page:page},
                success:function(res){
                    if(res){
                        $("#income-sum-listview").append(res);
                        $("#load_join").attr("data-page",next_page);
                    }else{
                        alert("已经展示全部内容");
                    }
                    $(_this).removeClass('loading');
                }
            })
        });
    });


    var PEOPLE_USER_ID = '<?php echo $this->user['uid']; ?>';

    var ACTIVITY_ACTIONS = '<?php echo implode(',', array(
    ACTION_LOG::ADD_QUESTION,
        ACTION_LOG::ANSWER_QUESTION,
        ACTION_LOG::ADD_REQUESTION_FOCUS,
        ACTION_LOG::ADD_AGREE,
        ACTION_LOG::ADD_TOPIC,
        ACTION_LOG::ADD_TOPIC_FOCUS,
        ACTION_LOG::ADD_ARTICLE,
        ACTION_LOG::ADD_AGREE_ARTICLE,
        ACTION_LOG::ADD_COMMENT_ARTICLE
    )); ?>';
</script>

<?php TPL::output('m/footer.tpl.htm'); ?>